body{
  font-family: Roboto;
  margin: 0 auto;
  width: 1440px;
}
/* ! SHIPPING AND RETURNS */
.shipping-and-returns{

  background: #F0EEDD;
  height: 40px;
  box-sizing: border-box;
  padding-top: 0.5rem;

}
.shipping-and-returns h2{
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #670A18;
  margin: 0;
}
/* ! HEADER */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}
.header__center{
background-image: url(assets/ourplace\ logo\ copy.svg);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
height: 30px;
width: 60%;

}
.header__left, .header__right{
  width: 20%;
}
.header ul  a {
text-decoration: none;
font-size: 13px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0.5px;
text-align: left;
color: #35312E;

}
.header__icon{
  background-image: url(assets/circle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}
.header__icon p{
  text-align: center;
  color: #F5F1E9;
  ;
}
ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
/* ! FIRST SECTION - SKILLET */
.container{
  width: 100%;
}
.section__skillet{
  background: url(assets/skillet_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 67ch;
  box-sizing: border-box;
  padding: 10rem 25rem;

}
.section__skillet h3{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #35312E;
}
.section__skillet h1{
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 1px;
  color: #35312E;;
  margin: 0;
}
.underline{
  position: relative;
  width: 15ch;

}
.underline::after{
  position: absolute;
  content: '';
  border-bottom: 2px solid #35312e;
  left: 2px;
  right: -1px;
  bottom: 4px;
}
.section__skillet button{
  background-color: #D37657;
  border-radius: 2px;
  height: 9ch;
  width: 36ch;
  color: white;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  margin-top: 5ch;
}
/* ! SECOND SECTION - BON APPETIT */
.bonappetit{
  background-color: #F5F1E9;
  height: 24ch;
}
.bon-text{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #35312E;
  box-sizing: border-box;
  padding: 2.5rem 25rem 0;
}
.bon-icons{
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bon-appetit, .nyt, .vogue, .oprah{
  background-repeat: no-repeat;
  background-size: contain;
  height: 7ch;
}
.bon-appetit{
  background-image: url(assets/bon.svg);
  width: 15ch;
}
.nyt{
  background-image: url(assets/nyt.svg);
  width: 25ch;
}
.vogue{
  background-image: url(assets/voggue.svg);
  width: 12ch;
}
.oprah{
  background-image: url(assets/oprah.svg);
  width: 15ch;
}
/* ! SECTION - WELCOME */
.welcome{
  height: 50ch;
  height: 44ch;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.welcome__title{
  width: 50%;
  font-weight: 700;
  font-size: 41px;
  text-align: center;
  letter-spacing: 1.25px;
  color: #35312E;
  box-sizing: border-box;
  padding: 6rem 10rem;
}
.welcome__text{
  width: 50%;
  box-sizing: border-box;
  padding: 5rem 4rem 6rem 0rem;
}
.welcome__text p{
  font-weight: 400;
  font-size: 16px;
  color: #4F463F;
  line-height: 1.7rem;
}
/* ! SECTION DESIGNED FOR EVERYTHING */
.designed{
  height: 100ch;
  background-color: #FBF6EA;
  box-sizing: border-box;
  padding: 5rem 0 10rem;
}
.designed__title{
  font-weight: 400;
  font-size: 35px;
  text-align: center;
  color: #35312E;
}
.designed__icons{
  background-image: url(assets/dots.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  width: 40ch;
  height: 5ch;
  margin: 4rem 34rem 2rem;
}
.designed__content{
  background-image: url(assets/pan__bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 83%;
  display: flex;
  justify-content: space-between;
}
.designed__content-item{
  position: relative;

}
